#tn{
    margin-top: 50px;
    border-radius: 100px ;
    text-align: center;
    font-size: 40px;
    color: rgb(255, 174, 0);
    background-color:rgba(89, 150, 150, 0.753);
}
#tn:hover{
    background-color:rgba(19, 204, 204, 0.753);
    color: rgb(218, 20, 6);
    font-family:cursive;
    font-size: 50px;
    cursor: pointer;
}

#tbd{
    background-image: url('images.png');
    background-position: left;
    background-size:contain;
    background-repeat:repeat-x;
     
}